body {
	background-image: url("Images/background.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-size: 16px;
	color: whitesmoke;
}

header {
	text-align: center;
	width: 90%;
	position: absolute;
	left:50%;
	top: 50%;
	bottom:auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

header h1{
	font-size: 400%;
	text-transform: uppercase;
}

header h2{
	font-style: italic;
}


.nav-link:hover {
	text-decoration: overline;
	color: transparent;
	text-shadow: 0 0 5px rgba(255,255,255,1);
}

.navbar-brand:hover{
	color: transparent;
	text-shadow: 0 0 5px rgba(255,255,255,1);
}

footer{
	padding-top: 100%;
}